[Desktop Entry]
Comment=A nice glossy theme
Name=silvertrim
X-KDE-PluginInfo-Author=heliospah
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=aake.taskila@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=silvertrim-plasma
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=www.github.com/Azkuzku
X-KDE-ServiceTypes=Plasma/LookAndFeel
