[Desktop Entry]
Name=silvertrim-light
Comment=A nice and shiny silver theme.
X-KDE-PluginInfo-Name=silvertrim-clear-light
X-KDE-PluginInfo-Author=heliospah
X-KDE-PluginInfo-Website=https://github.com/Azkuzku
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPLv3
